name: CI
on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Set up Ruby
      uses: ruby/setup-ruby@v1
      with:
        # Not needed with a .ruby-version file
        ruby-version: .ruby-version 
        # Caches installed gems automatically
        bundler-cache: true

    - name: Run tests
      run: bundle exec rspec

    - name: Lint code
      run: bundle exec rubocop -f github
